* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    height: 84vh;
    width: 70vh;
    background-color: beige;
    border-radius: 25px;
    margin-top: 5vh;
}

#screen-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 28vh;
}

#screen {
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    height: 20vh;
    width: 50vh;
}

#output {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
    width: 48vh;
    background-color: black;
    color: white;
    font-size: 40px;
}

#input {
    height: 8vh;
    width: 48vh;
    background-color: black;
}

input {
    height: 7.8vh;
    width: 47.9vh;
    background-color: black;
    color: white;
    font-size: 40px;
}

#screen-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    width: 12vh;
}

#screen-buttons > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: "#AFE1AF";
    border: 3px solid black;
    height: 9vh;
    width: 12vh;
    font-size: 35px;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 56vh;
    margin-bottom: 2vh;
    margin-top: -2vh;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 64vh;
}

.row  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 15vh;
    background-color: "#AFE1AF";
    border: 3px solid black;
    font-size: 50px;
    border-radius: 5px;
}

#bracket-container {
    display: flex;
    height: 12vh;
    width: 15vh;
    justify-content: space-between;
}

.bracket.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 6vh;
}
